// 清除浮动
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// 居中对齐
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 相对定位
@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

//设置宽度并居中
@mixin pct($pct) {
  width: #{$pct};
  position: relative;
  margin: 0 auto;
}

// 设置文本省略号（单行）
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//设置多行文本省略号
@mixin multiline-ellipsis($lines: 2) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}